  body
      {
        background-color:#FFFCF1;
      }

      h1
      {
        color:#2E2D27;
        font-family:Courier New;
        font-size:45px;
      }

      p
      {
        color:#54534E;
        font-family:Courier New;
        font-size:20px;
      }