body
{
  background-color:black;
}

h1
{
  color:mediumvioletred;
}

h2
{
	color:dodgerblue;
}

h3
{
	color:darkorange;
}

p
{
	color:springgreen;
	
	font-size:18px;
}

td
{
	color:yellow;
}
th
{
	color:white;
}

a:link
{
  color:mediumvioletred;
  text-decoration:underline;
}
a:visited
{
   color:mediumvioletred;
  text-decoration:underline;
}
a:hover
{
  background-color:white;
  text-decoration:underline;
}