body
{
  background-color:#00BFFF;
}

h1
{
border-style: double;
 border-width: 10px;
 font-family:Copperplate; 
color:white;
}

p
{
  font-family:Copperplate;
  font-size:20px;
}
a:link
{
  font-size:20px;
 font-family:Copperplate; 
color:red;
  text-decoration:none;
}
a:visited
{
  color:red;
  text-decoration:none;
}
a:hover
{
  background-color:green;
  text-decoration:underline;
}