

  table, th, td

{

  color:black;

}





table, th, td

{

  color:black;

}



th

{

  font-family:copperplate;

  font-size:30px;
}


table, th, td

{

  background-color:Azure;

}


td

{

  font-family:Georgia;

  font-size:30px;
}


h1

{

 color:white

}
   
