
      body
      
      {
        background-color:ALiceBlue;
      }

      h1
      {
        color:LightSeaGreen;
        font-family:TimesNewRoman;
      }
      h2
      {
      color:LightSeaGreen;
      font-family:TimesNewRoman
      }
      
      h3
      {
      color:LightSeaGreen;
      font-family:TimesNewRoman
      }
       h4
      {
      color:LightSeaGreen;
      font-family:TimesNewRoman
      }

      p
      {
        font-family:TimesNewRoman;
        font-size:15px;
        color:DarkCyan
      }
      ul
      {
      display:table;
      margin: 0 auto;
      }
      a:link
	{
 	color:CornflowerBlue;
  	text-decoration:underline;
	}
	a:visited
	{
  	color:CornflowerBlue;
  	text-decoration:underline;
	}
	a:hover
	{
  	background-color:Lavender;
  	text-decoration:none;
	}


