


h1

{

color:white;
font-size:44px;
font-style:italic;


}



p

{


color:white;
font-style:italic;

}


th

{

background-color:#164f6a;
font-style:italic;
color:white;

}

li

{

font-style:italic;
color:white;

}

ul

{

background-color:#164f6a;