
 		p.inset {border-style: inset;}
      body

      {

        background-color:gray;

      }



      h1

      {

        color:red;

      }



      p

      {

        font-family:Arial;

        font-size:20px;

      }
		<p class="inset">An inset border.</p>
		