	body
      {

        background-color:LightCyan;

      }

	td
 		{
 		
  		padding: 20px;
  
		}

      h1

      {

        color:navy;
		text-align: center;
		font-family: "Lucida Console", "Courier New", monospace;
		
      }



      p

      {
      
      
  		font-family: "Lucida Console", "Courier New", monospace;
        font-size:16px;
		text-align: center
      }
