 body

      {

        background-color:brown;
  	font-size:20px;

      }

     a:link

{

  color:indianred;

  text-decoration:none;

}

a:visited

{

  color:indianred;

  text-decoration:none;

}
table

{

  font-size:50px;

}

a:hover

{

  background-color:Browm;

  text-decoration:underline;

}

 


      h1

      {

        color:Moccasin;
	
      }
h2

      {

        color:burlywood;
	
      }


      p

      {

        font-family: times new roman;

        font-size:20px;

      }