body
{
	background-color:gray;
}

h1
{
	color:white;font-family:arial
}

h2
{
	color:white;font-family:arial
}



p
{
	color:white;font-size:18px;font-family:arial
}


th
{
    color:white;font-family:arial
}

td
{
	color:white;font-family:arial
}









