

body
{
  background-color:orange;
}

h1
{
font-family:Verdana;
color:green;
}
tr
{
  font-family:Copperplate;
  font-size:20px;
}

h3
{
font-family:Verdana;
}
a:link
{
  color:gold;
  text-decoration:none;
}
a:visited
{
  color:gold;
  text-decoration:overline;
}
a:hover
{
  background-color:orange;
  text-decoration:underline;
}