
    


      body

      {

        background-color:	#FA5F55;

      }



      h1

      {

        color:Black;
        text-align: center;

      }


	  p
      {

        font-family:Copperplate;

        font-size:20px;
        
        text-align: center;

      }

  
  